/* Базовые стили для всей страницы */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #4b1b01;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
}

p {
  text-indent: 30px
}

body {
  background-image: url('/images/zakat.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

/* Стили для заголовков */
h1,
h2 {
  margin-bottom: 20px;
  color: #4b1b01;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
  border-bottom: 2px solid;
  padding-top: 20px;
}

h3 {
  font-size: 1.5rem;
  padding-top: 25px;
  padding-bottom: 5px;
}

/* Стили для блока "Обо мне" */
.menu {
  background-color: rgb(183, 239, 141);
  border-radius: 15px;
  font-size: 1.2rem;

}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

nav a {
  color: rgb(20, 46, 191);
  text-decoration: none;
  padding: 10px 40px;
  background-color: rgb(136, 255, 140);
  border-radius: 25px;
  transition: background-color 0.3s;
}

.text {
  background-color: rgba(197, 246, 205, 0.554);
  border-radius: 15px;
  font-size: 1.3rem;
  padding: 50px;
}

.contact {
  background-color: rgba(230, 239, 186, 0.557);
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin: 15px 0;
}

/* Стили для 1 семестра*/

.work {
  line-height: 50px;
}

/* Стили для миниобзора */

.sist {
  padding: 50px 100px;
}

ol {
  padding: 15px 100px
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center
}

th,
td {
  border: 1.5px solid #552702;
  padding: 8px;
}

tr:hover {
  background-color: rgba(255, 185, 127, 0.884);
}

.table {
  padding: 35px
}

.fig {
  text-align: center;
}

/* Стили для списка навыков */
ul {
  list-style-type: none;
}

li {
  padding: 8px 0;

}



/* Стили для ссылок */
a {
  color: #1f6ed5;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #de1717;
  text-decoration: underline;
}

.container {
  display: flex;
  /* Создаем гибкую структуру */
  flex-direction: column;
  /* Располагаем элементы вертикально */
  min-height: 100vh;
  /* Минимальная высота равна высоте вьюпорта */
}

.header .footer {
  margin-top: auto;
  /* Здесь вступает в действие магия Flexbox */
}

/* Контейнер подсказки */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

/* Текст подсказки */
.tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: rgb(32, 19, 145);
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

/* Показывать текст подсказки при наведении */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* Стили оощие для хедера и футера */
header,
footer {
  text-align: center;
  padding: 20px;
}

/* Стили для хедера */
header {
  color: #f33aac;
  font-size: 0.9rem;
}

/* Стили для футера */
footer {
  color: #d3f70af4;
  font-size: 1.5rem;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
